@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #516dff;
    color: #fff;
    font-family: 'Press Start 2p', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* Screen one stylings */
.btn {
    border: 0;
    background-color: #fff;
    color: #516dff;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

a {
    color: #fff;
}

h1{
    line-height: 1.4;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: 0;
    transform: scale(0.98);
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100Vh;
    width: 100vw;
}

.screen.up{
    margin-top: -100vh;
}

/* Second screen stylings */
.insects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: inherit;
    width: 130px;
    height: 130px;
}

.choose-insect-btn:hover {
    background-color: #fff;
    color: #516dff;
}

.choose-insect-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Game screen stylings */
.game-container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    line-height: 1.7;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    pointer-events: none;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-in;
}

.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%);
}

/* game insect stylings */
.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-out;
    top: 300px;
    left: 300px;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 80px;
    height: 80px;
}
