@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

#canvas {
    border: 2px solid steelblue;
    height: 800px;
    width: 800px;
}

.toolbox {
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 800px;
    padding: 1rem;
}   

.toolbox > * {
    background-color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 00.25rem;
}

.toolbox > *:last-child {
    margin-left: auto;
}

.toolbox button:focus, .toolbox input:focus {
    outline: none;
}

.toolbox button:active, .toolbox input:active {
    transition: all 0.2s linear;
    transform: scale(1.15);
    background: linear-gradient(to right, rgb(0, 255, 170), rgb(0, 255, 64));
}

.toolbox span {
    pointer-events: none;
}

@media (max-width: 800px){
    #canvas {
        width: 400px;
        height: 400px;
    }
    .toolbox {
        width: 400px;
    }
}
