@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.btn    {
    background-color: rebeccapurple;
    border-radius: 5px;
    border:none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    /* transition: transform 0.3s ease; */
    opacity: 0.9;
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}
